<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>Restaurant Menu</display-name>
	<description>Java Web Development Under the Hood</description>

	<servlet>
		<servlet-name>MenuServlet</servlet-name>
		<servlet-class>me.fevvelasquez.jwuth.restaurant.servlets.MenuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MenuServlet</servlet-name>
		<url-pattern>/menu</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>me.fevvelasquez.jwuth.restaurant.servlets.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>me.fevvelasquez.jwuth.restaurant.servlets.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	
	<session-config>
	<!-- session expires in minutes -->
	<session-timeout>7</session-timeout>
	</session-config>

</web-app>